<div class="container">
    <div class="row">
        <%= link_to root_path do %>
            <div class="six columns center-text">
                <h2 class="lower">Photo</h2>
            </div>
            <div class="six columns center-text">
                <h2 class="upper">Prime</h2>
            </div>
        <% end %>
    </div>
</div>
<div class="jumbotron">
</div>
<div class="container">
    <div class="row">
        <div class="six columns center-text"><p class="lower">title</p></div>
        <div class="six columns center-text"><p class="upper">THE SUN</p></div>
    </div>
    <div class="row">
        <div class="six columns center-text"><p class="lower">author</p></div>
        <div class="six columns center-text"><p class="upper">JARED</p></div>
    </div>
    <div class="row">
        <div class="six columns center-text"><p class="lower">date</p></div>
        <div class="six columns center-text"><p class="upper">may 12</p></div>
    </div>
</div>

<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag(index_path(@photos, format: :css), media: "all") %>
<% end %>

<% i = 1 %>
<% @photos.each do |p| %>
    <% stringclass = "jumbotron jumbotron" + i.to_s %>
    <% puts stringclass %>
    <div class="<%= stringclass %>">
        Room Contents Here
    </div>
    <% i = i + 1 %>
<% end %>
