/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
    // background: rgba(255,255,255,1);
    // background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    // background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(235,235,235,1)));
    // background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    // background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    // background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    // background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=1 );
background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 67%, rgba(143,143,143,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(67%, rgba(222,222,222,1)), color-stop(100%, rgba(143,143,143,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 67%, rgba(143,143,143,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 67%, rgba(143,143,143,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 67%, rgba(143,143,143,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 67%, rgba(143,143,143,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8f8f8f', GradientType=1 );
}

.left>h2, .left>h5, .left>p {
    margin-bottom: 0rem;
}

.right>h2, .left>h5, .right>p {
    margin-bottom: 1.5rem;
}

div.split>div:last-child {
    margin-bottom: 4.5rem;
}

h2.lower, h5.lower, p.lower {
    text-transform: lowercase;
}

h2.upper, h5.upper, p.upper {
    text-transform: uppercase;
}

.center-text {
    text-align: center;
}

.polaroidbottom {
    background-color: white;
}

.jumbotron {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 66.667% 0 0 0;
    margin-bottom: 0rem;
    background-size: cover;
    border: 15px solid white;
}

.gray {
    color: gray;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
    .right>h2, .right>h5, .right>p {
        margin-bottom: 0.5rem;
    }
    
    h2.lower, h5.lower, p.lower {
        float: right;
    }
    
    h2.upper, h5.upper, p.upper {
        float: left;
    }
    
    .right {
        margin-left: 1%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}