/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/* background graident */
body {
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 67%, rgba(143,143,143,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(67%, rgba(222,222,222,1)), color-stop(100%, rgba(143,143,143,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 67%, rgba(143,143,143,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 67%, rgba(143,143,143,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 67%, rgba(143,143,143,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 67%, rgba(143,143,143,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8f8f8f', GradientType=1 );
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}

/* add margin above and below title - mobile */
.title {
    background-color: white;
    box-shadow: 7px 7px 14px 4px rgba(0,0,0,0.33);
    padding: 1rem 0 1.5rem 0;
    margin-bottom: 3rem;
}

.title h2 {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.33);
}

.header {
    padding: 10px;
    margin-bottom: 3rem;
    max-width: 700px;
    background-color: white;
    box-shadow: 7px 7px 14px 4px rgba(0,0,0,0.33);
}

.header-content * {
    padding-right: 1rem;
    display: inline;
}

.header a {
    color: black;
}

.sidebar {
    background-color: white;
    box-shadow: 7px 7px 14px 4px rgba(0,0,0,0.33);
    padding: 1rem 1rem 1.5rem;
    margin-bottom: 3rem;
}

/* make text lowercase */
.lower {
    text-transform: lowercase;
}

/* make text uppercase */
.upper {
    text-transform: uppercase;
}

/* center text within rows on - mobile */
.center-text {
    text-align: center;
}

.split-text {
    margin-bottom: 1rem;
}

/* fix container sizing for polaroid, keep 90% until polaroid reaches 650px, then keep there for any bigger screens, background and margins - mobile */
.polaroid {
    padding: 0 0 2rem 0;
    max-width: 700px;
    background-color: white;
    box-shadow: 7px 7px 14px 4px rgba(0,0,0,0.33);
    margin-bottom: 3rem;
}

/* polaroid change zoom-in cursor and black text on polaroid */
a > .polaroid  {
    color: black;
}

/* give polaroid-bg div for image backgrounding of polaroid */
.polaroid-bg {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 66.667% 0 0 0;
    margin-bottom: 0;
    background-size: cover;
    border: 15px solid white;
}

.comment {
    padding: 10px;
    margin-bottom: 3rem;
    max-width: 700px;
    background-color: white;
    box-shadow: 7px 7px 14px 4px rgba(0,0,0,0.33);
}

/* gray text */
.gray {
    color: #92A0AD;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
    
    .header {
        margin-bottom: 2rem;
    }
    .comment {
        margin-bottom: 4rem;
    }
    
    .polaroid {
        margin-bottom: 4.5rem;
    }

    .split-text {
        margin-bottom: 0;
    }
    
    /* fix spacing between split text -phablet */
    .split-text>div, .split-text>a>div {
        margin-left: 1%;
    }
    
    .split-text .lower {
        text-align: right;
        float: right;
    }
    
    .split-text .upper {
        text-align: left;
        float: left;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}