<% content_for :sidebar do %>
    <h3>we gots a sidebar</h3>
    <h5>then i can add a photo and a WHOLE bunch of text here to do some more things</h5>
    <p>then i can add some other comments stuff here</p>
    <p>and the top commentors here if i want</p>
<% end %>